# Model outputs and wandb
galaxy_images/galaxy_model/outputs/
galaxy_images/galaxy_model/anomaly_detection/outputs/
galaxy_images/galaxy_model/hierarchical_attention/outputs/
galaxy_images/galaxy_model/lense_reconstruction/outputs/
galaxy_images/galaxy_model/lense_reconstruction/*.h5
wandb/

# Generated data and figures
galaxy_images/galaxy_model/generative_evaluation/disc_data*/
galaxy_images/galaxy_model/generative_evaluation/figures*/

# Notebooks
*.ipynb

# Images
*.jpg
*.jpeg
*.png

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
